body
{
  margin: 0;
  font-family: segoe UI;
}
.header-area
{
  color: #FFF;
  background-color: rgb(33,37,43);
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

.container
{
  width: 60%;
  margin: auto;
}

.header-area h1
{
  text-transform: uppercase;
  font-size: 40px;
}

.header-area img
{
  width: 100px;
  height: auto;
}

.header-area p
{
  font-size: 14px;
  margin-bottom: 60px;
}
.header-area a i
{
  color: white;
  font-size: 12px;
  padding: 6px 6px;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.about
{
  padding: 40px 0;
  overflow: hidden;
  background: url('./image/xs.png');
  background-size: cover;
}

.content
{
  font-size: 13px;
  text-align: center;
  color: rgb(33, 37, 43);

}

.about h2
{
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;

}

.col
{
  width: 31.33%;
  float: left;
  overflow: hidden;
  margin: 0 1%;
  color: rgb(33, 37, 43);
}

.col h3
{
  text-transform: uppercase;
  text-size: 14px;
}

.portfolio{
  background-color: rgb(33, 37, 43);
  padding: 40px 0px;
  color: white;

}

.portfolio h2
{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.work ul
{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 40px;
}

.work ul li{
  display: inline;
  margin-right: 15px;

}

.work ul li a{
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  border: 2px solid transparent;
  padding: 3px 0;
}

.work ul li a:hover
{
  border-bottom: 2px solid rgb(0, 162, 232);
}

.col img{
  width: 100%;
}

.col h3
{
  text-align: center;
  margin: 0;

}
.col h3 a
{
  color: white;
  text-decoration: none;
  font-weight: normal;
}

.col a{
  text-align: center;
  text-decoration: none;
  color: #813BAA;
  display: block;
  margin-bottom: 30px;

}
